/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
	--header-height: 3rem;
	--font-medium: 500;
	--font-semi: 600;
  --body-bg: #0f172a;
  --btn-txt-color: #ffffff;
}

/*===== Colores =====*/
:root {
	--hue-color: 224;

	--first-color: #FBC638;
	--second-color: #0e2431;
	--first-color-alt: hsl(var(--hue-color), 57%, 53%);
	--first-color-lighter: hsl(var(--hue-color), 92%, 85%);
	--title-color: hsl(var(--hue-color), 8%, 15%);
	--text-color: hsl(var(--hue-color), 8%, 45%);
	--text-color-light: hsl(var(--hue-color), 8%, 65%);
	--input-color: hsl(var(--hue-color), 70%, 96%);
	--body-color: hsl(var(--hue-color), 60%, 99%);
	--container-color: #fff;
}

/*===== Fuente y tipografia =====*/
:root {
	--body-font: 'Poppins', sans-serif;
	--big-font-size: 2rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.15rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;
}

/*===== Margenes =====*/
:root {
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
}

/*===== z index =====*/
:root {
	--z-back: -10;
	--z-normal: 1;
	--z-tooltip: 10;
	--z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	margin: var(--mb-6) 0 var(--mb-6) 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--second-color);
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
h2,
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}

@media (max-width: 767px) {
  body {
	margin: var(--mb-3) 0 var(--mb-3) 0;
  }
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.matrix-table-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.matrix-table {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  background-color: var(--body-color);
  border-radius: 4px;
  padding: 6px;
  margin: 3px;
  color: var(--text-color);
}

.matrix-table.active {
  color: var(--first-color);
}

.welcome {
  position: fixed;
  bottom: 0;
  margin-bottom: 8px;
}


/********** Loading **********/

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1000;
  backdrop-filter: blur(0.6px);
  background-color: var(--body-bg)
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}


/********** Random Number **********/
.number-wrapper {
  display: flex;
  justify-content: center;
}

.number {
  height: 250px;
  font-size: 200px;
  margin-bottom: 30px;
}

.random-resolved {
  color: var(--first-color) !important;
}
.highlight{
  color: var(--first-color) !important;
}

.text-wrapper {
  font-size: 18px;
  color: #4facfe;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    cursor: pointer;
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

 .cta ~ span {
    transform: skewX(15deg) 
  }

 .cta > span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

.reload, .detail {
  margin-top: 30px;
  cursor: pointer;
}

.reload {
  margin-left: 8px;
  margin-right: 8px;
}
.reload > svg {
  color: #fff;
  transition: color 0.3s ease, transform 0.5s ease 0s;

}

.reload > svg:hover {
  color: #FBC638;
  transform: rotate(180deg);
}
